
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <!-- LOGO JGC START -->
            <div class="mgbtm60">
                <img src="~/Content/res/build/images/logo.png" class="img-responsive img-logo-custom">
            </div>
            <!-- LOGO JGC END -->
            <!-- FORM LOGIN START -->
            <form>
                <!-- <h1>Login JGC Asset</h1> -->
                <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                    <a class="btn btn-default btn-block btn-logincustom submit" href="index.html">Login</a>
                    <a class="resetcustom" href="#">Lost your password?</a>
                </div>
                <div class="clearfix"></div>

                <div class="alert alert-warning alert-dismissible" role="alert" id="alertlogin">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    Username or password is wrong
                </div>
            </form>
            <!-- FORM LOGIN END -->
        </section>
    </div>
    
</div>

<script src="~/Content/res/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Content/res/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
      $(document).ready(function(){
          $(".close").click(function(){
              $("#alertlogin").alert("close");
          });
      });
</script>