
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Change Password</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Current Password</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" name="Current Password" id="autocomplete-custom-append" class="form-control col-md-10" placeholder="Current Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">New Password</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" name="New Password" id="autocomplete-custom-append" class="form-control col-md-10" placeholder="New Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirm New Password</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" name="Confirm New Password" id="autocomplete-custom-append" class="form-control col-md-10" placeholder="Confirm New Password" />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/_FooterLayout.cshtml")
