        <!-- FOOTER START -->
        <footer>
            <div class="pull-right">
                &copy; 2018. JGC Assets.
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- FOOTER END -->
    </div>
</div>

@Scripts.Render("~/Content/JGCjs")