<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/Content/res/build/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/res/build/images/favicon/favicon.ico" type="image/x-icon">

    <title>@ViewBag.Title - JGC Indonesia</title>

    @Styles.Render("~/Content/JGCcss")
</head>