<!-- MODALWARNING START -->
<div class="modal fade" id="Alert1" name="Alert1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modaltrayek"><font style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:bold;">Caution</font></h4>
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td width="15%" style="vertical-align:middle;"><i class="fa fa-warning" aria-hidden="true" style="color:#f9bd1c;font-size:40px;"></i>
                        <td style="vertical-align:middle;"><label id="peringatan1" name="peringatan1" style="color:black;margin-bottom:0 !important; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:100;"></label>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btncaution" name="btncaution" type="button" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Alert2" name="Alert2" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modaltrayek"><font style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:bold;">Sucess</font></h4>
            </div>
            <div class="modal-body">
                <table style="width:100%;">
                    <tr>
                        <td width="15%" style="vertical-align:middle;"><i class="fa fa-check" aria-hidden="true" style="color:#54a606;font-size:40px;"></i>&nbsp;&nbsp;
                        <td style="vertical-align:middle;"><label id="peringatan2" name="peringatan2" style="color:black;margin-bottom:0 !important; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:100;"></label>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnok" name="btnok" type="button" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Alert3" name="Alert3" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modaltrayek"><font style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:bold;">Error</font></h4>
            </div>
            <div class="modal-body">
                <table style="100%">
                    <tr>
                        <td width="15%" style="vertical-align:middle;"><i class="fa fa-close" aria-hidden="true" style="color:red;font-size:40px;"></i>
                        <td style="vertical-align:middle;"><label id="peringatan3" name="peringatan3" style="color:black;margin-bottom:0 !important; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:100;"></label>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnerror" name="btnerror" type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Alert4" name="Alert4" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modaltrayek"><font style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:bold;">Question</font></h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td width="20%" style="vertical-align:middle;"><i class="fa fa-warning" aria-hidden="true" style="color:#f9bd1c;font-size:40px;"></i>
                        <td width="80%" style="vertical-align:middle;"><label id="peringatan4" name="peringatan4" style="color:black; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:100;"></label>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnyes" name="btnyes" type="button" class="btn btn-default">OK</button>
                <button id="btnno" name="btnno" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- MODALWARNING END -->