@{
    ViewBag.Title = "Create Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

        function InputMaintenance() {
            var StatusId = document.getElementById("StatusId").value;
            var TypeId = document.getElementById("TypeId").value;
            var AssignToId = document.getElementById("AssignToId").value;
            var DamageId = document.getElementById("DamageId").value;
            var CostId = document.getElementById("CostId").value;

            if (StatusId == "") {
                $(".modal-body #peringatan3").text("Status harus diisi");
                $('#btnerror').click(function (e) {
                    $('#Alert3').modal('hide');
                })
                $("#Alert3").modal();
            } else if (TypeId == "") {
                $(".modal-body #peringatan3").text("Type harus diisi");
                $('#btnerror').click(function (e) {
                    $('#Alert3').modal('hide');
                })
                $("#Alert3").modal();
            } else if (AssignToId == "") {
                $(".modal-body #peringatan3").text("Assign To harus diisi");
                $('#btnerror').click(function (e) {
                    $('#Alert3').modal('hide');
                })
                $("#Alert3").modal();
            } else if (DamageId == "") {
                $(".modal-body #peringatan3").text("Damage harus diisi");
                $('#btnerror').click(function (e) {
                    $('#Alert3').modal('hide');
                })
                $("#Alert3").modal();
            } else if (CostId == "") {
                $(".modal-body #peringatan3").text("Cost harus diisi");
                $('#btnerror').click(function (e) {
                    $('#Alert3').modal('hide');
                })
                $("#Alert3").modal();
            }
        }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Assets •
                            <a href="/asset/maintenancedue" class="activemenu">Maintenance</a> •
                            <a href="/asset/createmaintenance" class="activemenu">Create Maintenance</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Create Maintenance</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Maintenance Asset No</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="MaintenanceAssetNoId" type="text" name="MaintenanceAssetNo" class="form-control col-md-10" placeholder="Maintenance Asset No" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Status</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="StatusId" type="text" name="Status" class="form-control col-md-10" placeholder="Status" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Type</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="TypeId" type="text" name="Type" class="form-control col-md-10" placeholder="Type" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Schedule Date</label>
                                <div class="col-md-5 col-sm-5 xdisplay_inputx form-group has-feedback" style="margin-bottom: 0 !important;">
                                    <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="Schedule Date" aria-describedby="scheduleDate">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="scheduleDate" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Complete Date</label>
                                <div class="col-md-5 col-sm-5 xdisplay_inputx form-group has-feedback" style="margin-bottom: 0 !important;">
                                    <input type="text" class="form-control has-feedback-left" id="single_cal5" placeholder="Complete Date" aria-describedby="completeDate">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="completeDate" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Assign To</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="AssignToId" type="text" name="Assignto" class="form-control col-md-10" placeholder="Assign To" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Damage</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="DamageId" type="text" name="Damage" class="form-control col-md-10" placeholder="Damage" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Notes</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="NotesId" class="form-control" rows="3" placeholder="Notes"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Cost</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="CostId" type="number" name="Cost" class="form-control col-md-10" placeholder="Cost" />
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                    <button class="btn btn-default" type="button">Cancel</button>
                                    <button type="submit" class="btn btn-success" onclick="InputMaintenance(); return false;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")


