
@{
    ViewBag.Title = "Dispose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Dispose() {
        var DisposeId = document.getElementById("DisposeId").value;
        var DisposalReasonId = document.getElementById("DisposalReasonId").value;

        if (DisposeId == "") {
            $(".modal-body #peringatan3").text("Dispose to harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (DisposalReasonId == "") {
            $(".modal-body #peringatan3").text("Disposal Reason harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Assets •
                            <a href="/asset/dispose" class="activemenu">Dispose</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Dispose</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="text-muted font-13 m-b-30">
                            <div class="mgbtm20">
                                <p>Follow your assets every step of the way until they’re gone. Rather than deleting an asset from your database, you can dispose of it and have documentation of its entire life.</p>
                                <button id="addtosite" type="button" class="btn btn-success">Select Asset</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Assets Pending Disposal</h3>
                        </div>

                        <table id="checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th>Asset Tag ID</th>
                                    <th>Asset Name</th>
                                    <th>Status</th>
                                    <th>Site</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="">ASST000001</a></td>
                                    <td><a href="#">Laptop Lenovo</a></td>
                                    <td><a href="#">Available</a></td>
                                    <td><a href="#">Jekardah</a></td>
                                    <td><a href="#">Jekardah</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="">ASST000001</a></td>
                                    <td><a href="#">Laptop Lenovo</a></td>
                                    <td><a href="#">Available</a></td>
                                    <td><a href="#">Jekardah</a></td>
                                    <td><a href="#">Jekardah</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="">ASST000001</a></td>
                                    <td><a href="#">Laptop Lenovo</a></td>
                                    <td><a href="#">Available</a></td>
                                    <td><a href="#">Jekardah</a></td>
                                    <td><a href="#">Jekardah</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ln_solid"></div>

                        <form class="form-horizontal form-label-left">


                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Date Disposed</label>
                                <div class="col-md-4 col-sm-4 xdisplay_inputx form-group has-feedback" style="margin-bottom:0 !important;">
                                    <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="Date Disposed" aria-describedby="dateDisposed">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="dateDisposed" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Dispose to</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" name="disposeTo" id="DisposeId" class="form-control col-md-10" placeholder="Dispose To" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Disposal Reason</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <textarea id="DisposalReasonId" class="form-control" rows="3" placeholder="Disposal Reason"></textarea>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Select Asset</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <button id="addtosite" type="button" class="btn btn-success">Select Asset</button>
                                </div>
                            </div>*@

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button type="submit" class="btn btn-success" onclick="Dispose(); return false;">Dispose</button>
                                </div>
                            </div>

                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="assetModal" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Select Assets</h4>
            </div>
            <div class="modal-body ">

                <form class="form-horizontal form-label-left">

                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                        <thead>
                            <tr>
                                <th width="3%"><input type="checkbox" id="check-all2" class="checksmodal"></th></th>
                                <th>Asset Tag ID</th>
                                <th>Asset Name</th>
                                <th>Status</th>
                                <th>Site</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" id="check-all" class="checksmodal"></td>
                                <td><a href="">ASST000001</a></td>
                                <td><a href="#">Laptop Lenovo</a></td>
                                <td><a href="#">Available</a></td>
                                <td><a href="#">Jekardah</a></td>
                                <td><a href="#">Jekardah</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check-all" class="checksmodal"></td>
                                <td><a href="">ASST000001</a></td>
                                <td><a href="#">Laptop Lenovo</a></td>
                                <td><a href="#">Available</a></td>
                                <td><a href="#">Jekardah</a></td>
                                <td><a href="#">Jekardah</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check-all" class="checksmodal"></td>
                                <td><a href="">ASST000001</a></td>
                                <td><a href="#">Laptop Lenovo</a></td>
                                <td><a href="#">Available</a></td>
                                <td><a href="#">Jekardah</a></td>
                                <td><a href="#">Jekardah</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                            <button id="AssetCancelId" type="button" class="btn btn-primary">Cancel</button>
                            <button id="AssetAddId" type="submit" class="btn btn-success">Add to List</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#addtosite").click(function(){
              $("#assetModal").modal();
          });
          $("#AssetCancelId").click(function () {
              $("#assetModal").modal('toggle');
          });
          $("#AssetAddId").click(function () {
              $("#assetModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

      $("#check-all2").click(function () {
          $(".checksmodal").prop('checked', $(this).prop('checked'));
      });
</script>