
@{
    ViewBag.Title = "Auto Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/autonumber" class="activemenu">Auto Number</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Asset Types</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--<p class="headcontent">
                            Add departments that own or house the particular assets.
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'.
                            Customize to your particular need.
                        </p>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahautonumber" class="btn btn-success btn-cust">Add New Auto Number</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="8%">Table</th>
                                    <th>Format Document</th>
                                    <th width="8%">Seq Length</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">CheckIn</a></td>
                                    <td><a href="#">CIN-{yy}{mm}-{seq}</a></td>
                                    <td><a href="#">3</a></td>
                                    <td class="txtcenter">
                                        <a href="#" id="EditAutoNum" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">CheckOut</a></td>
                                    <td><a href="#">COU-{yy}{mm}-{seq}</a></td>
                                    <td><a href="#">3</a></td>
                                    <td class="txtcenter">
                                        <a href="#" id="EditAutoNum" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Auto Number</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Table</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="TableId" type="text" name="Table" class="form-control col-md-10" placeholder="Table" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Format Document</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="FormatDocId" type="text" name="FormatDocument" class="form-control col-md-10" placeholder="Format Document" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seq Length</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="LengthId" type="number" name="SeqLength" class="form-control col-md-10" placeholder="Seq Length" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="AutoNumAddId" type="button" class="btn btn-primary">Add</button>
                            <button id="AutoNumCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Auto Number</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Table</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditTableId" type="text" name="Table" class="form-control col-md-10" placeholder="Table" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Format Document</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditFormatDocId" type="text" name="FormatDocument" class="form-control col-md-10" placeholder="Format Document" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seq Length</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditLenghtId" type="number" name="SeqLength" class="form-control col-md-10" placeholder="Seq Length" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditAutoNumId" type="button" class="btn btn-primary">Edit</button>
                            <button id="CancelAutoNumId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahautonumber").click(function () {
              $("#addModal").modal();
          });
          $("#AutoNumAddId").click(function () {
              $("#addModal").modal('toggle');
          });
          $("#AutoNumCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#EditAutoNum").click(function () {
              $("#editModal").modal();
          });
          $("#EditAutoNumId").click(function () {
              $("#editModal").modal('toggle');
          });
          $("#CancelAutoNumId").click(function () {
              $("#editModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
