
@{
    ViewBag.Title = "Barcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/barcode" class="activemenu">Barcode</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Barcode</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--<p class="headcontent">
                            Add departments that own or house the particular assets.
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'.
                            Customize to your particular need.
                        </p>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <!--<a href="#" id="tambahautonumber" class="btn btn-success btn-cust">Add New Auto Number</a>-->
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="9%">Barcode</th>
                                    <th>Size</th>
                                    <th>Title</th>
                                    <th style="width:5%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">A</a></td>
                                    <td><a href="#">30x30</a></td>
                                    <td><a href="#">A</a></td>
                                    <td class="txtcenter">
                                        
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">A</a></td>
                                    <td><a href="#">30x30</a></td>
                                    <td><a href="#">A</a></td>
                                    <td class="txtcenter">
                                        
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Auto Number</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Table</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="Table" class="form-control col-md-10" placeholder="Table" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Format Document</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="FormatDocument" class="form-control col-md-10" placeholder="Format Document" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seq Length</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="number" name="SeqLength" class="form-control col-md-10" placeholder="Seq Length" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button type="button" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>-->
<!-- MODAL1 END -->

@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      //$(document).ready(function(){
      //    $("#tambahautonumber").click(function () {
      //        $("#myModal").modal();
      //    });
      //});

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
