
@{
    ViewBag.Title = "List Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/companyinfo" class="activemenu">List Company</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Company</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--<p class="headcontent">
                            Add departments that own or house the particular assets.
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'.
                            Customize to your particular need.
                        </p>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="/setup/createcompany" class="btn btn-success btn-cust">Add New Company</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="9%">Company Code</th>
                                    <th>Company Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Province</th>
                                    <th>Postal Code</th>
                                    <th>Telephone</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">JGC</a></td>
                                    <td><a href="#">PT. JGC INDONESIA</a></td>
                                    <td><a href="#">Jl. TB Simatupang 7-B, RT.1/RW.2, Cilandak Barat, Cilandak, RT.1/RW.2, Cilandak Bar, Cilandak</a></td>
                                    <td><a href="#">Jakarta</a></td>
                                    <td><a href="#">DKI Jakarta</a></td>
                                    <td><a href="#">12430 </a></td>
                                    <td><a href="#">(021) 7514429</a></td>
                                    <td class="txtcenter">
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      
      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
