
@{
    ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputUser() {
        var GroupNameId = document.getElementById("GroupNameId").value;
        var FirstNameId = document.getElementById("FirstNameId").value;
        var LastNameId = document.getElementById("LastNameId").value;
        var TitleId = document.getElementById("TitleId").value;
        var PhoneId = document.getElementById("PhoneId").value;
        var EmailId = document.getElementById("EmailId").value;
        var ConfirmEmailId = document.getElementById("ConfirmEmailId").value;
        var TimezoneId = document.getElementById("TimezoneId").value;
        var FormatDateId = document.getElementById("FormatDateId").value;
        var FormatTimeId = document.getElementById("FormatTimeId").value;

        if (GroupNameId == "") {
            $(".modal-body #peringatan3").text("Group Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (FirstNameId == "") {
            $(".modal-body #peringatan3").text("First Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (LastNameId == "") {
            $(".modal-body #peringatan3").text("Last Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (TitleId == "") {
            $(".modal-body #peringatan3").text("Title harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (PhoneId == "") {
            $(".modal-body #peringatan3").text("Phone harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EmailId == "") {
            $(".modal-body #peringatan3").text("Email harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (ConfirmEmailId == "") {
            $(".modal-body #peringatan3").text("Confirm Email harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (TimezoneId == "") {
            $(".modal-body #peringatan3").text("Timezone harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (FormatDateId == "") {
            $(".modal-body #peringatan3").text("Format Date harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (FormatTimeId == "") {
            $(".modal-body #peringatan3").text("Format Time harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Advanced •
                            <a href="/advanced/users" class="activemenu">Users</a> •
                            <a href="/advanced/createusers" class="activemenu">Create</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Add an User</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Permission Group</h3>
                            </div>

                            <p class="headcontent">
                                Decide which parts of your account you want to be accessible to this user by assigning your user to a Permission Group.
                                Select the Administrator group to give this user full access, the Manager group to give this user full access without Admin.
                                Rights, the Viewer group to give this user the ability to view the basics of your account, or you can create and edit your own custom Permission Group.
                            </p>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Group Name</label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input id="GroupNameId" list="Group" name="Group" class="form-control" placeholder="Select Group">
                                    <datalist id="Group">
                                        <option value="Admin Group">
                                        <option value="Manager Group">
                                        <option value="Viewer Group">
                                    </datalist>
                                </div>
                                <!--<div class="col-md-1 col-sm-1 col-xs-12">
                                    <button class="btn btn-default" type="button">Manage Groups</button>
                                </div>-->
                            </div>

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">User Info</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">First Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstNameId" type="text" name="FirstName" class="form-control col-md-10" placeholder="First Name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Last Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="LastNameId" type="text" name="LastName" class="form-control col-md-10" placeholder="Last Name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Title</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="TitleId" type="text" name="Title" class="form-control col-md-10" placeholder="Title" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Phone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="PhoneId" type="tel" name="Phone" class="form-control col-md-10" placeholder="Phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="EmailId" type="email" name="Email" class="form-control col-md-10" placeholder="Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Confirm Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="ConfirmEmailId" type="email" name="ConfirmEmail" class="form-control col-md-10" placeholder="Confirm Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Localization</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Timezone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="TimezoneId" list="Timezone" name="Site" class="form-control" placeholder="Select Timezone">
                                    <datalist id="Timezone">
                                        <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">
                                        <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">
                                        <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">
                                        <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">
                                        <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">
                                        <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">
                                    </datalist>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Date Format</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FormatDateId" list="DateFormat" name="Site" class="form-control" placeholder="Select Date Format">
                                    <datalist id="DateFormat">
                                        <option value="dd/MM/yyyy">
                                        <option value="MM/dd/yyyy">
                                        <option value="yyyy-MM-dd">
                                    </datalist>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Time Format</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FormatTimeId" list="TimeFormat" name="TimeFormat" class="form-control" placeholder="Select Time Format">
                                    <datalist id="TimeFormat">
                                        <option value="12 hour short - 09:00 PM">
                                        <option value="12 hour long - 09:00:30 PM">
                                        <option value="24 hour short - 21:00">
                                        <option value="24 hour long - 21:00:30">
                                    </datalist>
                                </div>
                            </div>

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">User Photo</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Upload Image</label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input type="file" name="file" id="file" class="btn btn-success btn-cust inputfile" />
                                    <label for="file" class="ftwegthin"><i class="fa fa-upload icon-white mgr5"></i> Select Import File...</label>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                    <button class="btn btn-default" type="button">Cancel</button>
                                    <button type="submit" class="btn btn-success" onclick="InputUser(); return false;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add Site</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">Enter the data about your new site in the fields below and we will add it to your list.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Site">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Address</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Apt./Suite</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Apt./Suite">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">City</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">State</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="State">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Postal Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Postal Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Country</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input list="Country" name="Country" class="form-control" placeholder="Select a Country">
                            <datalist id="Country">
                                <option value="Country 1">
                                <option value="Country 2">
                                <option value="Country 3">
                                <option value="Country 4">
                                <option value="Country 5">
                            </datalist>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<!--<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Category</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">If you want to add a new category of assets, you’re in the right spot. Add a category for computer equipment, wireless keyboards, or any assets you’re working with.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Category</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Category">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL2 END -->

<!-- MODAL3 START -->
<!--<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add an Location</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">Enter the data about your new site in the fields below and we will add it to your list.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input list="Site" name="Site" class="form-control" placeholder="Select a Site">
                            <datalist id="Site">
                                <option value="Site 1">
                                <option value="Site 2">
                                <option value="Site 3">
                                <option value="Site 4">
                                <option value="Site 5">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Location</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL3 END -->

<!-- MODAL4 START -->
<!--<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Create Status Label</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">Add departments that own or house the particular assets. Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Department</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Department">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL4 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#createsite").click(function(){
              $("#myModal").modal();
          });
      });
      $(document).ready(function(){
          $("#createcategory").click(function () {
              $("#myModal2").modal();
          });
      });
      $(document).ready(function(){
          $("#createlocation").click(function () {
              $("#myModal3").modal();
          });
      });
      $(document).ready(function(){
          $("#createdepartment").click(function () {
              $("#myModal4").modal();
          });
      });
</script>

