
@{
    ViewBag.Title = "Currencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputCurrencies() {
        var CurrencyCodeId = document.getElementById("CurrencyCodeId").value;
        var CurrencyNameId = document.getElementById("CurrencyNameId").value;

        if (CurrencyCodeId == "") {
            $(".modal-body #peringatan3").text("Currency Code harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (CurrencyNameId == "") {
            $(".modal-body #peringatan3").text("Currency Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

    function InputEditCurrencies() {
        var EditCurrencyCodeId = document.getElementById("EditCurrencyCodeId").value;
        var EditCurrencyNameId = document.getElementById("EditCurrencyNameId").value;

        if (EditCurrencyCodeId == "") {
            $(".modal-body #peringatan3").text("Currency Code harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditCurrencyNameId == "") {
            $(".modal-body #peringatan3").text("Currency Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/currencies" class="activemenu">Currencies</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Currencies</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--<p class="headcontent">
                            Add departments that own or house the particular assets.
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'.
                            Customize to your particular need.
                        </p>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahcurrencies" class="btn btn-success btn-cust">Add New Currency</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="10%">Currency Code</th>
                                    <th>Currency Name</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">IDR</a></td>
                                    <td><a href="#">Rupiah</a></td>
                                    <td class="txtcenter">
                                        <a href="#" id="editCurrency" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">USD</a></td>
                                    <td><a href="#">US Dollar</a></td>
                                    <td class="txtcenter">
                                        <a href="#" id="editCurrency" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Currency</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Currency Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="CurrencyCodeId" type="text" name="CurrencyCode" class="form-control col-md-10" placeholder="Currency Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Currency Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="CurrencyNameId" type="text" name="Currency Name" class="form-control col-md-10" placeholder="Currency Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="CurrencyAddId" type="button" class="btn btn-primary" onclick="InputCurrencies(); return false;">Add</button>
                            <button id="CurrencyCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Currency</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Currency Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditCurrencyCodeId" type="text" name="CurrencyCode" class="form-control col-md-10" value="Currency Code" placeholder="Currency Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Currency Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditCurrencyNameId" type="text" name="Currency Name" class="form-control col-md-10" value="Currency Name" placeholder="Currency Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditCurrencyId" type="button" class="btn btn-primary" onclick="InputEditCurrencies(); return false;">Edit</button>
                            <button id="CancelCurrencyId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahcurrencies").click(function () {
              $("#addModal").modal();
          });
          //$("#CurrencyAddId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#CurrencyCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#editCurrency").click(function () {
              $("#editModal").modal();
          });
          //$("#EditCurrencyId").click(function () {
          //    $("#editModal").modal('toggle');
          //});
          $("#CancelCurrencyId").click(function () {
              $("#editModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
