
@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputDepartment() {
        var DepartmentCodeId = document.getElementById("DepartmentCodeId").value;
        var DepartmentNameId = document.getElementById("DepartmentNameId").value;

        if (DepartmentCodeId == "") {
            $(".modal-body #peringatan3").text("Department Code harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (DepartmentNameId == "") {
            $(".modal-body #peringatan3").text("Department Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

    function InputEditDepartment() {
        var EditDepartmentCodeId = document.getElementById("EditDepartmentCodeId").value;
        var EditDepartmentNameId = document.getElementById("EditDepartmentNameId").value;

        if (EditDepartmentCodeId == "") {
            $(".modal-body #peringatan3").text("Department Code harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditDepartmentNameId == "") {
            $(".modal-body #peringatan3").text("Department Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/departments" class="activemenu">Departments</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Departments</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p class="headcontent">
                            Add departments that own or house the particular assets. 
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'. 
                            Customize to your particular need.
                        </p>

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahdepartment" class="btn btn-success btn-cust">Add New Department</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="11%">Department Code</th>
                                    <th>Department Name</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">DIV_ACCT</a></td>
                                    <td><a href="#">DIVISI ACCOUNTING</a></td>
                                    <td class="txtcenter">
                                        <a href="#" id="editdepartment" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">DIV_FIN</a></td>
                                    <td><a href="#">DIVISI FINANCE</a></td>
                                    <td class="txtcenter">
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">DIV_HRD</a></td>
                                    <td><a href="#">DIVISI HRD</a></td>
                                    <td class="txtcenter">
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Department</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want. 
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Department Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="DepartmentCodeId" type="text" name="DepartmentCode" class="form-control col-md-10" placeholder="Department Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Department Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="DepartmentNameId" type="text" name="DepartmentName" class="form-control col-md-10" placeholder="Department Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="DepartmentAddId" type="button" class="btn btn-primary" onclick="InputDepartment(); return false;">Add</button>
                            <button id="DepartmentCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Department</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want. 
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Department Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditDepartmentCodeId" type="text" name="DepartmentCode" class="form-control col-md-10" value="Department Code" placeholder="Department Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Department Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditDepartmentNameId" type="text" name="DepartmentName" class="form-control col-md-10" value="Department Name" placeholder="Department Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditDepartmentId" type="button" class="btn btn-primary" onclick="InputEditDepartment(); return false;">Edit</button>
                            <button id="CancelDepartmentId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahdepartment").click(function () {
              $("#addModal").modal();
          });
          //$("#DepartmentAddId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#DepartmentCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#editdepartment").click(function () {
              $("#editModal").modal();
          });
          //$("#EditDepartmentId").click(function () {
          //    $("#editModal").modal('toggle');
          //});
          $("#CancelDepartmentId").click(function () {
              $("#editModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
