
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputStatus() {
        var StatusId = document.getElementById("StatusId").value;
        var StatusNameId = document.getElementById("StatusNameId").value;

        if (StatusId == "") {
            $(".modal-body #peringatan3").text("Status harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (StatusNameId == "") {
            $(".modal-body #peringatan3").text("Status Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

    function InputEditStatus() {
        var EditStatusId = document.getElementById("EditStatusId").value;
        var EditStatusNameId = document.getElementById("EditStatusNameId").value;

        if (EditStatusId == "") {
            $(".modal-body #peringatan3").text("Status harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditStatusNameId == "") {
            $(".modal-body #peringatan3").text("Status Name harus diisi");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/status" class="activemenu">Status</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Status</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--<p class="headcontent">
                            Add departments that own or house the particular assets.
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'.
                            Customize to your particular need.
                        </p>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahstatus" class="btn btn-success btn-cust">Add New Status</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="6%">Status</th>
                                    <th>Status Name</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">APP</a></td>
                                    <td><a href="#">Approve</a></td>
                                    <td class="txtcenter">
                                        <a href="#" id="editstatus" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">DAD</a></td>
                                    <td><a href="#">Dispose / Delete Need Approval Director</a></td>
                                    <td class="txtcenter">
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">DAG</a></td>
                                    <td><a href="#">Dispose / Delete Need Approval GM</a></td>
                                    <td class="txtcenter">
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Status</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Status</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="StatusId" type="text" name="Status" class="form-control col-md-10" placeholder="Status" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Status Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="StatusNameId" type="text" name="StatusName" class="form-control col-md-10" placeholder="Status Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="StatusAddId" type="button" class="btn btn-primary" onclick="InputStatus(); return false;">Add</button>
                            <button id="StatusCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Status</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Status</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditStatusId" type="text" name="Status" class="form-control col-md-10" value="Status" placeholder="Status" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Status Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditStatusNameId" type="text" name="StatusName" class="form-control col-md-10" value="Status Name" placeholder="Status Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditStatusId" type="button" class="btn btn-primary" onclick="InputEditStatus(); return false;">Edit</button>
                            <button id="CancelStatusId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahstatus").click(function () {
              $("#addModal").modal();
          });
          //$("#StatusAddId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#StatusCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#editstatus").click(function () {
              $("#editModal").modal();
          });
          //$("#EditStatusId").click(function () {
          //    $("#editModal").modal('toggle');
          //});
          $("#CancelStatusId").click(function () {
              $("#editModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
