
@{
    ViewBag.Title = "Non-Audited Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Non-Audited Asset
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Non-Audited Asset</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            <div class="mgbtm20">
                                <div class="btn-group top-2">
                                    <button type="button" class="btn btn-success btn-cust"><i class="fa fa-download icon-white"></i> Export to Excel</button>
                                </div>
                                <div class="floatright mgl25">
                                    <button type="submit" class="btn btn-success btn-cust floatright top-2">Go</button>
                                    <div class="btn-group floatright mgr10">
                                        <select id="heard" class="form-control hgt33" required>
                                            <option value="">Choose..</option>
                                            <option value="edit">Edit</option>
                                            <option value="delete">Delete</option>
                                            <option value="generatelabel">Generate Labels</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </p>

                        <p class="text-muted font-13 m-b-30">
                            <div class="mgbtm20">
                                <div class="">
                                    <div class="btn-group mgr10">
                                        <label>Audit Name : </label>
                                        <select id="heard" class="form-control hgt33" required>
                                            <option value="">Choose Audit..</option>
                                            <option value="erwin">Erwin</option>
                                            <option value="hans">Hans</option>
                                            <option value="fandi">Fandi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </p>

                        <table class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="12%">Asset Tag ID</th>
                                    <th>Description</th>
                                    <th>Purchase Date</th>
                                    <th width="12%">Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#" id="assetmodel">ASST000001</a></td>
                                    <td><a href="#">Laptop Lenovo</a></td>
                                    <td><a href="#">25/04/2018</a></td>
                                    <td style="text-align:right;"><a href="#">Rp.7,500,000</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" id="assetmodel">ASST000001</a></td>
                                    <td><a href="#">Laptop Lenovo</a></td>
                                    <td><a href="#">25/04/2018</a></td>
                                    <td style="text-align:right;"><a href="#">Rp.7,500,000</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" id="assetmodel">ASST000001</a></td>
                                    <td><a href="#">Laptop Lenovo</a></td>
                                    <td><a href="#">25/04/2018</a></td>
                                    <td style="text-align:right;"><a href="#">Rp.7,500,000</a></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><a href="#">3 Assets</a></td>
                                    <td style="text-align:right;"><a href="#">Rp.7,500,000</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">ASST000001</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="~/Content/res/images/laptop.jpg" alt="..." class="img-responsive" style="width:100%;">
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <form class="form-horizontal form-label-left">
                        <table class="table table-striped table-bordered bulk_action">
                            <tbody>
                                <tr>
                                    <td><a href="">Purchase Date</a></td>
                                    <td><a href="#"> <b>20/04/2018</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Purchase From</a></td>
                                    <td><a href="#"> <b>Lazadong</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Cost</a></td>
                                    <td><a href="#"> <b>Rp.7,500,000</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Brand</a></td>
                                    <td><a href="#"> <b>Sumsang</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Model</a></td>
                                    <td><a href="#"> <b>Sumsang990</b> </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <form class="form-horizontal form-label-left">
                        <table class="table table-striped table-bordered bulk_action">
                            <tbody>
                                <tr>
                                    <td><a href="">Serial No</a></td>
                                    <td><a href="#"> <b>2193819319</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Site</a></td>
                                    <td><a href="#"> <b>Jekardah</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Location</a></td>
                                    <td><a href="#"> <b>Jekardah</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Category</a></td>
                                    <td><a href="#"> <b>Leptop</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Department</a></td>
                                    <td><a href="#"> <b>IT</b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Assigned to</a></td>
                                    <td><a href="#"> <b></b> </a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Status</a></td>
                                    <td><a href="#"> <b>Leased</b> </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                    <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                        <button type="button" class="btn btn-primary">Close</button>
                        <a href="/asset/details" class="btn btn-success">More Details</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#assetmodel").click(function () {
              $("#myModal").modal();
          });
      });

</script>

